<main class="mg-cus-nav">

    <section class="feed pe-auto">
        {{#each posts as |post|}}
            <div class="post-card feed green-box m-5" id="{{recipe.id}}">
                <h2>{{post.title}}</h2>
                <p class="description">{{post.contents}}</p>
                <p class="author"><a href="../profile/{{recipe.user.id}}">{{recipe.user.username}}</a> </p>
            </div>
        {{/each}}
    </section>
</main>