<main class="mg-cus-nav">

    <section class="feed pe-auto">

        {{#each posts as |post|}}
        <div class="feed bg-dark text-white">
            <div class="post-card d-flex p-2 justify-content-between" id="{{post.id}}">
                <h3>{{post.title}}</h2>
                <p class="author"><a href="../profile/{{post.user.id}}">Created by: {{post.user.username}}, on: {{post.createdAt}}</a></p>
            </div>
            <div class="description d-flex p-2" >
                <p id="{{post.id}}">{{post.contents}}</p>
            </div>
            {{#if currentUser}}
                <div>
                    <button class="btn btn-danger" id="deletePost" data-id="{{post.id}}">Delete Post</button>
                </div>
            {{/if}}
            {{each post.comments as |comment|}}
            <div>
                <p class="comment" id="{{comment.id}}">{{comment.comment}}</p>
                <p class="author"><a href="../profile/{{comment.user.id}}">Created by: {{comment.user.username}}, on: {{comment.createdAt}}</a></p>
            </div>
            {{/each}}                
        </div>
        {{/each}}
    </section>
</main>